.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.input {
  padding: 10px;
  outline: none;
}

.button {
  cursor: pointer;
  padding: 10px;
  color: var(--background-color);
  background-color: var(--secondary-color);
}

.button:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}
